{% macro postList(datalist, board) %}
	<section class="postList">
		{% for data in datalist %}
			{{ post(data, board) }}
		{% endfor %}
	</section>
{% endmacro %}

{% macro post(data, board) %}

	<article class="post" id="{{data.id}}">
		<header class="post__header">
			<span>{% if data.username %}{{data.username}}{% else %}Anon{% endif %}</span>&nbsp;
			<span>{{data.ip_hash}}</span>&nbsp;
			<span>{{data.created_at | indianDate}}</span>&nbsp;
			{% if board %}
			<a href="/thread/{{data.id}}">No. {{data.id}}</a>&nbsp;
			{% else %}
			<span>No. {{data.id}}</span>&nbsp;
			{% endif %}
		</header>
		<div class="post__content-wrapper">	
			<p class="post__content">{{data.content | greenText | safe}}</p>
		</div>

		{% if data.image_path %}
			{% if "video" in data.mimetype %}
				<video class="post__thumbnail" data-src="/public/files/{{data.image_path | safeFileName}}" alt="{{data.image_path}}" controls preload="metadata"></video>
			{% else %}
				<img class="post__thumbnail" data-src="/public/files/{{data.image_path | safeFileName}}" alt="{{data.image_path}}">
			{% endif %}
		{% endif %}

		{% if  board %}
			<footer class="post__footer">
				<span>{{data.reply_count}} replies</span>
			</footer>
		{% endif %}

		{% if not board %}
				<button class="replyButton" data-post-number="{{data.id}}">Reply</button>
		{% endif %}
	</article>

{% endmacro %}

{% macro form(isFeed) %}
	{% if isFeed %}
	<form enctype="multipart/form-data" >
	{% else %}
	<form enctype="multipart/form-data" style="position : sticky; bottom : 0; z-index : 4; background-color: #121513; border: 1px solid #2d3530; padding: 8px;" class="hidden">
	{% endif %}
		<input type="text" id="name" name="name" placeholder="apka shubh naam" maxlength="40"/>
		<textarea placeholder="aap kya soch rahe ho..." id="content" name="content" required maxlength="280"></textarea>
		<div class="form__buttons">
			<input type="file" accept="image/*, video/*" id="file" name="file" />
			<button type="submit">Send</button>
		</div>
		<span class="form-message"></span>
	</form>
{% endmacro %}