<!DOCTYPE html>
<html lang="en">

<head>
	<base href="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Pyaara chan - kissi lelo </title>

	<meta name="title" content="Pyaarachan - kissi lelo">
	<meta name="description"
		content="Pyaara chan pe galo pe kissi lo aur aage 4 logo ko kissi do. Unn char logo ko bolo ki vo bhi yehi karen. ummah.">

	<link rel="icon" type="image/x-icon" href="/public/favicon.ico">

	<meta property="og:title" content="Pyaara chan - kissi lelo ">
	<meta property="og:description" content="ek kissi apke liye , ek kissi apke liye , aur ek kissi apke liye">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://pyaarachan.site">
	<meta property="og:image" content="https://pyaarachan.site/public/favicon.ico">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Pyaara chan - kissi lelo">
	<meta name="twitter:description" content="ajao jaldi se ek kissi lelo ummmaahhh">
	<meta name="twitter:image" content="https://pyaarachan.site/public/favicon.ico">

	<link rel="canonical" href="https://pyaarachan.site/">
	<meta name="robots" content="index, follow">
	{% include "style.html" %}
</head>
</head>

<body>
	<main>

		{% block main %}
			Content goes here.
		{% endblock %}

	</main>

</body>

</html>